.nav{
background-color: black;
height: 10em;
display: flex;
margin-top: 0px;
margin-bottom: 0px;
box-shadow: 10px 4px 70px rgb(44, 44, 44);
}
img{
    margin-left: 5em;
    margin-right: 60em;
    height: 10em;
}
li{
    display: inline;
    font-size: large;
    margin: 45px;
    position: relative;
    top: 2em;
    font-family:fantasy;
    color:blue;
    
}
a:hover{
    color: white;
}
button{
    position: relative;
    top: 2em;
    margin-left: 30px;
    margin-right: 4px;
}
span{
    margin-top: 4px;
    margin-right: 8px;
}